section.discount
    .wrapper
        .discount__title Акции
        .discount__items
            .discount__item.green
                .discount__box
                    .block__wrap
                        .discount__box_title Палатки фирмы Outventure 
                        .discount__box_text Скидки до 25% только до конца сентября
                        .discount__box_link.link Купить сейчас
                    .img__wrap
                        img.discount__box_img(src=require("../../img/tent.png").default, alt="")
            .discount__item.blue
                .discount__box
                    .block__wrap
                        .discount__box_title Палатки фирмы Outventure 
                        .discount__box_text Скидки до 25% только до конца сентября
                        .discount__box_link.link Купить сейчас
                    .img__wrap
                        img.discount__box_img(src=require("../../img/blue-tent.png").default, alt="")
            .discount__item.gray
                .discount__box
                    .block__wrap
                        .discount__box_title Палатки фирмы Outventure 
                        .discount__box_text Скидки до 25% только до конца сентября
                        .discount__box_link.link Купить сейчас
                    .img__wrap
                        img.discount__box_img(src=require("../../img/kam.png").default, alt="")
            .discount__item.gray
                .discount__box
                    .block__wrap
                        .discount__box_title Палатки фирмы Outventure 
                        .discount__box_text Скидки до 25% только до конца сентября
                        .discount__box_link.link Купить сейчас
                    .img__wrap
                        img.discount__box_img(src=require("../../img/boot.png").default, alt="")