@import "../mixins/mixins";

.class {
  width: 100wh;
  margin-bottom: 80px;

  .class__title {
    text-align: center;
    font-weight: normal;
    font-size: 72px;
    line-height: 125%;
    margin-bottom: 40px;
  }

  &__flex {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .main__block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 49%;
      height: 890px;

      .card__catalog_link {
        @include card__catalog_link(100%, 360px, "../img/guns.png");
      }

      .block__cards {
        display: grid;
        grid-template-columns: 48.5% 48.5%;
        justify-content: space-between;

        .card__catalog_link:first-child {
          @include card__catalog_link(100%, 500px, "../img/bait.png");
        }

        .card__catalog_link:last-child {
          @include card__catalog_link(100%, 500px, "../img/ammo.png");
        }
      }

      &:last-child {
        flex-direction: column-reverse;

        .card__catalog_link {
          @include card__catalog_link(100%, 360px, "../img/wearing.png");
        }

        .block__cards {
          .card__catalog_link:first-child {
            @include card__catalog_link(100%, 500px, "../img/spinning.png");
          }

          .card__catalog_link:last-child {
            @include card__catalog_link(100%, 500px, "../img/rod.png");
          }
        }
      }
    }

    .main__block:first-child {
      margin-right: 20px;
    }
  }
}

@import './media/class-media';