@import "../mixins/mixins";

.class {
  width: 100wh;
  height: auto;
  margin-bottom: 80px;

  .class__title {
    text-align: center;
    font-weight: normal;
    font-size: 72px;
    line-height: 125%;
    margin-top: 80px;
    margin-bottom: 40px;
  }

  &__flex {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .main__block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 660px;
      height: 890px;

      .card__item {
        @include card__item(660px, 360px, "../img/guns.png");
      }

      .block__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;

        .card__item:first-child {
          @include card__item(315px, 500px, "../img/bait.png");
        }

        .card__item:last-child {
          @include card__item(315px, 500px, "../img/ammo.png");
        }
      }

      &:last-child {
        flex-direction: column-reverse;

        .card__item {
          @include card__item(660px, 360px, "../img/wearing.png");
        }

        .block__cards {
          .card__item:first-child {
            @include card__item(315px, 500px, "../img/spinning.png");
          }

          .card__item:last-child {
            @include card__item(315px, 500px, "../img/rod.png");
          }
        }
      }
    }

    .main__block:first-child {
      margin-right: 20px;
    }
  }
}