@import "../mixins/mixins";

.discount__block {
    width: 100wh;
    height: 740px;
    margin-bottom: 80px;
    margin-top: 40px;

    .action__box {
        display: flex;
        justify-content: space-between;

        .wrap {
            width: 49.5%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:first-child {
                margin-right: 20px;
            }

            .title {
                max-width: 460px;
                margin-bottom: 20px;

                &__text {
                    font-weight: normal;
                    font-size: 72px;
                    line-height: 125%;
                    margin-bottom: 10px;
                }

                &__description {
                    width: 100%;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 18px;
                    color: #888888;
                }
            }

            .discount__item {
                margin-bottom: 0;

                .discount__box {
                    width: 100%;
                    padding: 40px 30px;
                    position: relative;
                    height: 400px;
                    display: flex;

                    .block__wrap {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        width: 90%;
                    }

                    &_title {
                        font-size: 18px;
                        line-height: 20px;
                        margin-bottom: 20px;
                    }

                    &_text {
                        font-size: 48px;
                        line-height: 135%;
                        margin-bottom: 40px;
                    }

                    &_link {
                        font-size: 18px;
                        line-height: 20px;
                        justify-content: flex-start;
                        color: inherit;
                        text-decoration: none;
                    }

                    .img__wrap {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        position: absolute;
                        bottom: 20px;
                        right: 20px;
                        max-width: 65%;
                        height: 54%;

                        .discount__box_img {
                            display: flex;
                            max-width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .discount__item:last-child {

                .discount__box {
                    height: 460px;
                }
            }

            .email {
                margin-top: 20px;
                width: 100%;
                background: #e0e0e0;
                padding: 30px;

                &__title {
                    margin-bottom: 40px;

                    &_main {
                        font-weight: normal;
                        font-size: 48px;
                        line-height: 54px;
                        margin-bottom: 10px;
                    }

                    &_notification {
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 18px;
                        color: #888;
                    }
                }

                &__send {
                    max-width: 100%;
                    display: flex;

                    .input {
                        max-width: 60%;
                        margin-right: 20px;
                        margin-bottom: 20px;
                    }

                    .btn {
                        min-width: 180px;
                    }

                }
            }
        }
    }


    .link__center {
        width: 103px;
        font-size: 18px;
        line-height: 20px;
        display: block;
        margin: 0 auto;
    }

    @import '../class/class';
}

@import "./media/discount-media";