.new {
    margin-bottom: 80px;

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;

        &_title {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            text-align: center;

            .title_main {
                font-weight: normal;
                font-size: 72px;
                line-height: 125%;
                color: #333333;
            }

            .title_description {
                font-weight: normal;
                font-size: 16px;
                line-height: 18px;
                color: #888888;
            }
        }

        &_cards {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .choose {
                max-width: 620px;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                column-gap: 20px;
                margin-bottom: 36px;

                .custom-radio {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                }

                .custom-radio+label {
                    background: #e0e0e0;
                    text-align: center;
                    line-height: 46px;
                    width: 140px;
                    height: 46px;
                    color: #888888;
                    cursor: pointer;
                    position: relative;
                    transition: 0.25s;

                    &:hover {
                        box-shadow: inset 0 -3.25em 0 0 #333;
                        color: #fff;
                        transition: 0.25s;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        background: url("../img/novelty.svg") no-repeat;
                        width: 20px;
                        height: 20px;
                        bottom: -20px;
                        left: 60px;
                        display: none;
                    }
                }

                /* стили для радиокнопки, находящейся в состоянии checked */
                .custom-radio:checked+label {
                    background: #333;
                    color: white;

                    &::before {
                        display: block;
                    }
                }

                /* стили для радиокнопки, находящейся в состоянии disabled */
                .custom-radio:disabled+label {
                    background-color: red;
                }
            }

            .choose__mobile {
                display: none;
                align-self: flex-start;
                flex-direction: column;
                background: #333;
                color: white;
                margin-bottom: 20px;

                .choose__wrap {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 46px;
                    width: 140px;

                    .choose__mobile_title {
                        margin-right: 15px;
                    }

                    .icon-number {
                        transform: rotate(-90deg);
                    }
                }

                .choose__form {
                    height: auto;
                    display: flex;
                    height: 0;
                    overflow: hidden;
                    flex-direction: column;
                    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

                    .custom__radio {
                        position: absolute;
                        z-index: -1;
                        opacity: 0;
                    }

                    .custom__label {
                        display: flex;
                        align-items: center;
                        user-select: none;
                        cursor: pointer;

                        &_icon {
                            width: 10px;
                            height: 10px;
                            background: #888;
                            border-radius: 50%;
                            position: relative;
                            margin-right: 20px;
                        }

                        &_title {
                            color: #888;
                        }

                    }

                }

                .show__form {
                    height: auto;
                }
            }

            @import '../mixins/mixin__product';

            @import "../slider/main-slider";
        }

        @import '../class/class';
    }
}

@import "./media/new-media";