.tidings {
  width: 100wh;

  &__title {
    text-align: center;
    font-weight: normal;
    font-size: 72px;
    line-height: 125%;
    margin-bottom: 15px;
  }

  .tidings__slider {
    height: 460px;
  }

  &__block {
    width: 100%;
    display: flex;

    &_img {
      width: 130%;
      height: 390px;
      margin-right: 20px;

      .tiding__img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &_instruction {
      display: flex;
      align-items: center;

      &_flex {
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .instruction__title {
          font-weight: normal;
          font-size: 48px;
          line-height: 54px;
        }

        .instruction__text {
          font-weight: normal;
          font-size: 16px;
          line-height: 18px;
          color: #888888;
        }

        .instruction__link {
          max-width: 180px;
          height: 50px;
          line-height: 50px;
          background: #333333;
          color: #e0e0e0;
          text-decoration: none;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }
  }

  .tidings__slider {
    @import '../slider/slider-pagination';
  }

}

@import './tidings-media';