section.private-office
    .wrapper
        .private-office__title Личный кабинет
        .private-office__flex
            .info
                .info__title Информация
                .info__data
                    .input
                        .input__title ФИО
                        input#name.input__box(type="text", name="")
                    .input
                        .input__title Телефон
                        input#phone.input__box(type="text", name="")
                    .input
                        .input__title e-mail
                        input#mail.input__box(type="text", name="")
                    .input
                        .input__title Номер дисконтной карты
                        input#card.input__box(type="text", name="")
                .info__edit  редактировать данные
            .cart
                .cart__now Корзина сейчас
                .cart__block
                    .cart__booked
                        .cart__booked_title Бронирование
                        .cart__booked_box
                            .card
                                .card__act
                                    .card__bookmark
                                        img.card__icon(src=require("../../img/icons/bookmark.svg").default, alt="")
                                        .card__title Отложить
                                    .card__delete
                                        img.card__icon(src=require("../../img/icons/delete.svg").default, alt="")
                                        .card__title Удалить
                                .card__des
                                    .card__img
                                        img(src=require("../../img/big-gun.png").default, alt="")
                                    .card__text
                                        .card__text_title 
                                            .card__text_title_subtitle ТОЗ-34Р (орех)
                                        .card__text_block
                                            .card__brand
                                                .card__brand_title Бренд:
                                                .card__brand_name ТОЗ
                                            .card__caliber
                                                .card__caliber_title Калибр:
                                                .card__caliber_name 12/70
                                .card__number 100
                                .card__in-all
                                    .card__in-all_price ₽1 739 000
                                    .card__in-all_discount ₽1 739 00
                    .cart__bought
                        .cart__bought_title Покупка
                        .cart__bought_box
include reserved.pug
include buy__history.pug