section.reserved
    .wrapper
        .reserved__title Забронированные товары
        .reserved__box
            .subtitles
                .subtitles__thing Товар
                .subtitles__address адрес получения
                .subtitles__info Подробности получения
                .subtitles__cost Стоимость
                .subtitles__status Статус заказа
            .reserved__things
                .card
                    .card__des
                        .card__img
                            img(src="../../assets/img/big-gun.png", alt="")
                        .card__text
                            .card__text_title 
                                .card__text_title_subtitle ТОЗ-34Р (орех)
                            .card__text_block
                                .card__brand
                                    .card__brand_title Бренд:
                                    .card__brand_name ТОЗ
                                .card__caliber
                                    .card__caliber_title Калибр:
                                    .card__caliber_name 12/70
                    .card__address
                        .address__name ул. Южная 6 (40-00-70)
                        .working__time
                            .time__title Режим работы:
                            .time__box
                                .time__flex
                                    .time__day Пн-Пт
                                    .time__hours 10:00 - 19:00
                                .time__flex
                                    .time__day Сб, Вс
                                    .time__hours 10:00 - 17:00
                    .card__info
                        .info__available Товар будет доступен для получения с 25.09.2020
                        .info__time Бронь закрепляется за Вами до 03.10.2020
                    .card__cost
                        .cost__price ₽ 739 000
                        .cost__discount ₽ 739 00
                    .card__status 
                        .status__done Готово для получения
                        .status__process Сборка