.card {
    position: relative;
    text-decoration: none;
    color: #333;

    &__img {
        background: #e0e0e0;
        padding: 20px;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        display: block;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_title {
            display: grid;
            row-gap: 20px;

            &_name {
                font-size: 18px;
                line-height: 20px;
                text-transform: uppercase;
            }

            &_price {
                font-size: 18px;
                line-height: 20px;
                text-transform: uppercase;
                color: #888888;
                display: flex;

                .first__price {
                    margin-right: 10px;
                    position: relative;
                }

                .discount__price {
                    display: none;
                }
            }
        }

        .icon-add {
            font-size: 40px;
            border-radius: 50%;
            background: #333333;
            width: 44px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
    }
}

.discount__gun {
    display: none;
}

.discount {
    .discount__gun {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 10;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background: #9D2F2F;
        color: white;
        left: 10px;
        top: 10px;
        font-size: 14px;
        line-height: 16px;
    }

    .first__price {
        color: #9D2F2F;

        &::before {
            content: "";
            position: absolute;
            background: #9D2F2F;
            width: 100%;
            height: 1px;
            top: 40%;
        }
    }

    .discount__price {
        display: block;
    }
}

.bookmark {
    display: none;
}

.bookmark__show {
    .bookmark {
        z-index: 10;
        position: absolute;
        width: 40px;
        height: 40px;
        font-size: 30px;
        background: #9D2F2F;
        border-radius: 50%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 10px;
        top: 10px;
    }
}

@media (max-width: 480px) {
    .card {
        &__content {
            .icon-add {
                width: 36px;
                height: 36px;
            }
        }
    }

    .discount {
        .discount__gun {
            width: 35px;
            height: 35px;
        }
    }

    .bookmark {
        width: 30px;
        height: 30px;
    }

}