@media (max-width: 767px) {
    .new {
        margin-bottom: 60px;

        &__block {
            &_title {
                .title_main {
                    font-size: 48px;
                }
            }

            &_cards {

                .choose {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .custom-radio+label {
                        width: 100px;

                        &::before {
                            left: 40px;

                        }
                    }

                }

                .image__slider {
                    padding-bottom: 60px;
                }

            }
        }
    }
}

@media (max-width: 549px) {
    .new {

        &__block {
            &_cards {

                .choose {
                    .custom-radio+label {
                        width: 86px;

                        &::before {
                            left: 36px;

                        }
                    }

                }

            }
        }
    }
}

@media (max-width: 480px) {
    .new {
        margin-bottom: 40px;

        &__block {
            &_title {

                .title_main {
                    font-size: 34px;
                }

                .title_description {
                    font-size: 14px;
                    line-height: 16px;
                }
            }

            &_cards {
                .choose {
                    display: none;
                }

                .choose__mobile {
                    display: flex;
                }
            }

        }
    }
}