@media(min-width: 1800px) {
    .welcome {
        &__catalog {
            width: 82.3%;
            margin: 0 auto;
            margin-top: 80px;
        }
    }
}

@media (max-width: 1200px) {
    .welcome {
        height: 840px;

        &__title {
            welcome__laptop .main__title {
                font-size: 62px;
            }
        }
    }
}

@media (max-width: 992px) {
    .welcome {
        height: 900px;

        &__catalog {
            display: none;
        }

        .welcome__laptop {
            display: flex;
            flex-direction: column;
        }
    }

}

@media (max-width: 768px) {
    .welcome {
        height: 900px;

        .welcome__laptop {
            &__image {
                .welcome__laptop__title {
                    margin-top: 150px;
                }
            }
        }
    }

}

@media (max-width: 480px) {
    .welcome {
        max-height: 600px;
        margin-bottom: 40px;

        .btn__to {
            font-size: 16px;
            line-height: 18px;
            width: 180px;
            height: 50px;
        }

        .welcome__laptop {
            &__image {
                .welcome__laptop__title {
                    margin-top: 60px;

                    .main__title {
                        font-size: 48px;
                    }

                }
            }

            .example__laptop {
                .laptop__number {
                    display: none;
                }
            }
        }
    }

}

@media (max-width: 320px) {
    .welcome {
        max-height: 500px;

        .welcome__laptop {

            .example__laptop {

                .laptop__block {

                    .example__laptop__block {
                        margin-right: 20px;
                    }
                }
            }

        }
    }

}