.popup__card__item {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    top: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: hidden;
    display: none;
    transition: all 0.8s ease 0s;

    .popup__body {
        color: #333;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .popup__content {
            width: 660px;
            min-height: 413px;
            padding: 40px 9px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #fff;

            .icon-menu-cancel {
                font-size: 30px;
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;

                &:hover {
                    color: #9d2f2f;
                }
            }

            .popup__img {
                margin-bottom: 35px;
            }

            .popup__title {
                font-size: 24px;
                line-height: 125%;
                margin-bottom: 30px;
                text-align: center;
            }

            .poup__info {
                text-align: center;
                max-width: 490px;
                font-size: 14px;
                line-height: 150%;
                margin-bottom: 40px;

                &_important {
                    color: #9d2f2f;
                    margin-right: 5px;
                }

                &_link {
                    display: block;
                    color: #333;

                    &:hover {
                        color: #9d2f2f;
                    }
                }
            }

            @import "../vars/vars";
        }
    }
}

.open__popup {
    display: block;
}

@media (max-width: 480px) {
    .popup__card__item {
        .popup__body {
            .popup__content {
                .popup__img {
                    margin-bottom: 25px;
                }

                .popup__title {
                    font-size: 18px;
                    margin-bottom: 20px;
                }

                .poup__info {
                    font-size: 12px;
                }
            }
        }
    }
}