.header__popup {
    text-decoration: none;
    background: #333;
    position: fixed;
    z-index: 9999;
    top: 90px;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none;
    overflow: hidden;


    .private-office {
        color: #fff;
        display: flex;
        text-decoration: none;
        margin-top: 30px;
        margin-bottom: 40px;

        .icon-profile {
            margin-right: 10px;
        }
    }

    .items__link {
        list-style-type: none;
        margin-bottom: 100px;

        .item {
            margin-bottom: 20px;
        }

        [class*='_link'] {
            color: #fff;
            text-decoration: none;
        }
    }

    .contacts {
        display: flex;
        justify-content: space-between;
        color: white;
    }
}

.header__popup_show {
    display: block;
}