.lk__popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 20;
    top: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: hidden;

    .popup__body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;

        .popup__content {
            background: #fff;
            width: 450px;
            height: 740px;
            border: 1px solid red;
            padding: 30px 20px;
            display: flex;
            flex-direction: column;
            position: relative;

            .icon-menu-cancel {
                position: absolute;
                top: 20px;
                right: 20px;
                font-size: 30px;
                cursor: pointer;

                &:hover {
                    color: #9D2F2F;
                }
            }

            .content__title {
                font-size: 18px;
                line-height: 125%;
                text-transform: uppercase;
                margin-bottom: 20px;

            }

            .card {
                position: relative;
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;

                .card__title {
                    text-transform: uppercase;
                    font-size: 18px;
                    line-height: 125%;
                    color: #888;
                    margin-bottom: 20px;
                }

                &__wrap {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .card__box {
                        display: flex;
                        width: 100%;

                        .card__img {
                            width: 100%;
                            margin-right: 20px;
                            @import '../mixins/mixin__card';

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }

                        }
                    }

                    .card__text {
                        font-family: FuturaBookC;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 125%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        position: relative;


                        &_title {
                            font-family: FuturaBookC;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 24px;
                            text-transform: uppercase;
                            display: inline-flex;
                            position: relative;
                            max-width: 170px;
                            margin-bottom: 10%;
                        }

                        &_cost {
                            font-size: 18px;
                            line-height: 125%;
                        }

                    }

                }

                &__status {
                    font-size: 18px;
                    line-height: 125%;
                    margin-top: 20px;
                    margin-bottom: 30px;

                    .status__done {
                        color: #5A9E08;
                    }
                }


                &__address {
                    display: flex;
                    flex-direction: column;

                    .card__box {
                        display: flex;
                        flex-wrap: wrap;
                    }

                    .street {
                        margin-bottom: 20px;
                        margin-right: 30px;
                    }

                    .work__time {
                        display: flex;
                        flex-direction: column;
                        width: 165px;

                        &_title {
                            margin-bottom: 10px;
                        }

                        .date {
                            color: #888;
                            display: flex;
                            justify-content: space-between;

                        }
                    }
                }

                &__reception {
                    line-height: 125%;
                    display: flex;
                    flex-direction: column;
                    margin-top: 20px;

                    .get__thing {
                        margin-bottom: 20px;

                        &_date {
                            margin-left: 5px;
                        }
                    }

                    .booked__thing {
                        &_date {
                            margin-left: 5px;
                        }
                    }
                }

            }
        }
    }
}

@import './lk__popup-media';