@import '../popup/lk__popup';

.lk {
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    width: 100%;

    &__block {
        height: auto;
        display: flex;
        // margin-bottom: 80px;

        .data {
            width: 330px;
            min-width: 260px;
            margin-right: 100px;

            &__title {
                font-size: 24px;
                line-height: 125%;
                margin-bottom: 30px;
            }

            &__box {
                margin-bottom: 30px;
                width: 100%;
                display: flex;
                flex-direction: column;

                .input__wrap {
                    width: 100%;
                    margin-bottom: 30px;
                    color: #333;

                    .input__box {
                        width: 100%;
                        padding: 16px 0 16px 20px;
                        font-family: FuturaBookC;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 18px;
                    }

                    &::placeholder {
                        color: #E0E0E0;
                    }
                }

                .input__title {
                    font-size: 18px;
                    line-height: 125%;
                    margin-bottom: 10px;
                }

                .input__box {
                    width: 315px;
                    height: 50px;
                }
            }

            .data__edit {
                width: 100%;

                &:disabled {
                    background: #888;
                }
            }
        }

        .cart__now {
            width: 100%;
            @import '../cart/scrollbar';

            &_title {
                font-size: 24px;
                line-height: 125%;
                margin-bottom: 30px;
            }

            .cart__wrap {

                .cart__booked {
                    margin-bottom: 40px;

                    &_title {
                        margin-bottom: 20px;
                        font-size: 18px;
                        line-height: 125%;
                        color: #888888;
                    }

                    &_box {
                        border-top: 2px solid #888;
                        padding-top: 20px;
                        @import './card__now';
                    }
                }

                .cart__bought {
                    margin-bottom: 40px;

                    &_title {
                        margin-bottom: 20px;
                        font-size: 18px;
                        line-height: 125%;
                        color: #888888;
                    }

                    &_box {
                        border-top: 2px solid #888;
                        padding-top: 20px;
                        @import './card__now';
                    }
                }

            }
        }
    }
}

@import 'reserved';
@import 'buy__history';

@import './media/lk-media';