.card {
  position: relative;
  text-decoration: none;
  color: #333;

  .discount__percent {
    display: none;
  }

  .favorite__cross {
    display: none;
    z-index: 100;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    &:hover {
      background: #000;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
  &__block {
    position: relative;
    background: url("../img/default.png") 50% 50% no-repeat;
    background-size: cover;
    width: 100%;
    padding: 0 0 100% 0;
    margin-bottom: 20px;
    display: block;
    .card__img {
      background: #e0e0e0;
      max-width: 100%;
      height: 100%;
      display: block;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_title {
      display: grid;
      row-gap: 20px;

      &_name {
        font-size: 18px;
        line-height: 20px;
        text-transform: uppercase;
      }

      &_price {
        font-size: 18px;
        line-height: 20px;
        text-transform: uppercase;
        color: #888888;
        display: flex;

        .first__price {
          margin-right: 10px;
          position: relative;
        }

        .discount__price {
          display: none;
        }
      }
    }

    .icon-add {
      font-size: 44px;
      border-radius: 50%;
      background: #333333;
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      margin-left: 20px;
    }
  }
}

.discount {
  .discount__percent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #9d2f2f;
    color: white;
    left: 10px;
    top: 10px;
    font-size: 14px;
    line-height: 16px;
  }

  .first__price {
    color: #9d2f2f;

    &::before {
      content: "";
      position: absolute;
      background: #9d2f2f;
      width: 100%;
      height: 1px;
      top: 40%;
    }
  }

  .discount__price {
    display: block;
  }
}
.favorite {
  .favorite__cross {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #9d2f2f;
    color: white;
    right: 10px;
    top: 10px;
    font-size: 34px;
    line-height: 16px;
  }
}
@import "./mixin__card__media";
