footer.footer
    .wrapper
        .footer__content
            .footer__menu 
                .footer__menu_title Меню
                .footer__menu_block
                    ul.footer__links
                        li
                            a.footer__link(href="#") Для охоты
                        li
                            a.footer__link(href="#") Для рыбалки
                        li
                            a.footer__link(href="#") Для туризма
                        li
                            a.footer__link(href="#") Аксессуары
                    ul.footer__links
                        li
                            a.footer__link(href="#") Инвернтарь
                        li
                            a.footer__link(href="#") Акции
                        li
                            a.footer__link(href="#") Новости
                        li
                            a.footer__link(href="#") О нас
            .footer__contacts 
                .footer__contacts_title Контакты
                .footer__contacts_block
                    .markets
                        p.markets__title Магазины
                        .markets__block
                            ul.markets__topic
                                li ул. Южная, 6
                                li ул. Гаражная, 27
                            ul.markets__topic
                                li 8 (8212) 40-00-70
                                li 8 (8212) 26-40-00
                    .working-time
                        p.working-time__title Режим работы
                        .working-time__block
                            ul.working-time__topic
                                li Пн-Пт
                                li Сб-Вс
                            ul.working-time__topic
                                li с 10:00 до 19:00
                                li с 10:00 до 17:00
            .footer__social 
                .footer__social_title Социальные сети
                .footer__social_block
                    .footer__social_topic
                        a.footer__social_link(href="#")
                            figure.icon-vk
                        a.footer__social_link(href="#")
                            figure.icon-inst
                        a.footer__social_link(href="#")
                            figure.icon-fb
        p.duplet__now @ 2020 ООО “Дуплет”
