@media (max-width: 1200px) {
    .contacts {
        &__location {
            .location__info {
                width: 461px;
            }

            .location__slider {
                height: 350px;

                .location__img {
                    object-fit: auto;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .contacts {
        &__location {
            .first__shop {
                flex-direction: column;
                align-items: center;
                margin-bottom: 60px;
            }

            .location__info {
                width: 100%;
                margin: 0 0 30px 0;

                .info__block {
                    justify-content: flex-start;

                    .inner__block:not(:last-child) {
                        margin-right: 15px;
                    }
                }
            }

            .location__slider {
                width: 100%;

                .location__img {
                    object-fit: auto;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .contacts {
        &__location {
            .location__slider {
                height: 350px;

                .location__img {
                    object-fit: auto;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .contacts {
        &__title {
            font-size: 24px;
        }

        &__text {
            font-size: 16px;
        }

        &__location {
            .location__info {
                height: auto;

                .info__block {
                    height: auto;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    font-size: 14px;

                    .inner__block:not(:last-child) {
                        margin-right: 10px;
                    }

                    .inner__block:last-child {
                        margin-top: 25px;
                    }

                }
            }

            .location__slider {
                height: 200px;

                .location__img {
                    object-fit: auto;
                }

                .swiper-pagination-bullets {
                    height: 40px;
                }

                .swiper-pagination-bullet {
                    top: 10px;
                }
            }
        }
    }
}

/* 
@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 480px) {

}

@media (max-width: 320px) {

} */