.image__slider {
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 80px;

  &_wrapper {
    height: 100%;

    .swiper-slide {
      position: relative;
      width: 315px;
    }
  }

  @import "./slider-pagination";
}