section.news__item
    .wrapper
        h1.item__title Что делать при встрече с медведем?
        p.item__text.
            Встречи с медведем лучше избегать. Если же встреча всё же состоялась, 
            то будет полезным знать несколько несложных правил, способных сохранить 
            ваше здоровье и жизнь. Посмотрите ответ на этот вопрос в нашем новом видео.
        .content__block
            img.img__item(src=require("../../img/news-item.png").default, alt="Медведь")
        .text__block
            p.item__text Итак, о чем же нужно помнить при встрече с медведем: 
            p.item__text.
                1. Если вы увидели медведя первым, дайте медведю возможность избежать встречи с вами. 
                Нападения на людей большая редкость и скорее всего встреча пройдет мирно. 
            p.item__text.
                2. Говорите с медведем спокойным четким голосом. По мнению очевидцев, 
                иногда помогает «отборный» мат, но только не криком и надрывом. 
            p.item__text.
                3. Если медведь встал на задние лапы – он испытывает любопытство и не опасен.
                В этом случае медленно отходите назад, но если медведь начинает следовать за вами – остановитесь. 
            p.item__text.
                4. Не смотрите медведю в глаза. Это работает с любыми хищниками и даже с собаками. 
                Прямой контакт «взгляд-взгляд» воспринимается как вызов. Также не фотографируйте медведя, фотообъектив может сыграть роль глаз. 
            p.item__text.
                5. Для рыбаков: если видите приближающегося медведя – прекратите ловить рыбу, обрежьте леску.
                Если медведь расценит вас как конкурента – конфликта не избежать. 
            p.item__text.
                6. Ни в коем случае не бегите. Медведь развивает скорость до 60 км/ч и это с места.
                Вы не сможете убежать. Этот зверь принимает бегущее от него животное (человека) за жертву. 
                Побежавший человек почти наверняка обречен. Вполне ясно, что трудно не побежать в такой ситуации, 
                но вы должны помнить и мысленно повторять – нельзя бежать!!!
            p.item__text.
                7. Никогда не имитируйте рычание медведя и не кричите пронзительно. 
            p.item__text.
                8. Используйте светошумовые сигналы. Отлично выполняет эту роль устройство «сигнал охотника»,
                которое можно приобрести в большинстве рыболовных и охотничьих магазинов. 
                Стрелять следует в воздух или в сторону, ни в коем случае не в зверя!
            p.item__text.
                9. Если вам встретились медвежата, ни при каких обстоятельствах не приближайтесь к ним,
                где-то рядом медведица. Для защиты своего потомства она готова на всё.
        .info__block
            .date__news
                p.date__news_title 11.07.2020
            a.next__news(href="#")
                img.next__news_img(src=require("../../img/news/next__news.png").default, alt="Следующая новость")
                span.next__news_title Следующая новость



