.discount {

    &__item {
        margin-bottom: 30px;
    }

    &__box {
        width: 100%;
        padding: 60px 30px;
        position: relative;
        height: 400px;
        display: flex;

        .block__wrap {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 60%;
        }

        &_title {
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 20px;
        }

        &_text {
            font-size: 48px;
            line-height: 135%;
            margin-bottom: 40px;
        }

        &_link {
            font-size: 18px;
            line-height: 20px;
            justify-content: flex-start;
            position: relative;
            padding-bottom: 5px;
            color: $dark;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                background: $dark;
                width: 0;
                transition: all .2s;
            }

            &:hover::before {
                width: 100%;
                transition: all .2s;
            }
        }

        .img__wrap {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
            bottom: 20px;
            right: 20px;
            max-width: 370px;

            .discount__box_img {
                display: flex;
                max-width: 100%;
                height: 100%;
            }
        }
    }
}


.gray {
    background: linear-gradient(110.17deg, #E0E0E0 0%, #888888 100%);
}

.green {
    background: linear-gradient(129.35deg, #CAD8CD 9.78%, #8E9B7F 87.39%);
}

.blue {
    background: linear-gradient(110.17deg, #A7D4F4 0%, #77B4E0 100%);
}

@import './media/discount__media';