.to__catalog_link {
  text-decoration: none;
  color: #888888;
  padding-bottom: 5px;
  position: relative;
  display: block;
  min-width: 87px;
  margin: 0 auto;
  margin-top: 50px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background: #888;
  }

  &:hover::before {
    width: 100%;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

@media (max-width: 768px) {
  .to__catalog_link {
    margin-top: 30px;
  }
}

.btn {
  text-decoration: none;
  color: #fff;
  background: #333;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__name {
    position: relative;
  }

  &__name::before {
    content: "";
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &:hover .btn__name::before {
    width: 100%;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

@media (max-width: 768px) {
  .btn {
    font-size: 16px;
    line-height: 18px;
  }
}