section.error
    .wrapper
        .error__container
            .error__title Ой! Кажется, страница не найдена
            .error__text Возможно она находится в разработке или была удалена
            a(href="").error__link
                p.error__link_text Перейти на главную
