.header__popup
    .wrapper
        a.private-office(href="#")
            figure.icon-profile
            .private-office__text Личный кабинет
        ul.items__link
            li.item
                a.catalog_link(href="#") Каталог
            li.item
                a.action_link(href="#") Акции
            li.item
                a.news_link(href="#") Новости
            li.item
                a.contacts_link(href="#") Контакты
        .contacts
            .contacts_number 8 (8212) 26-40-00
            .contacts_number 8 (8212) 40-00-70