.lk__popup.hidden
    .wrapper
        .popup__body
            .popup__content
                figure.icon-menu-cancel.close__popup
                .content__title информация
                .card
                    .card__wrap
                        .card__title Товар
                        .card__box
                            .card__img
                                .product
                                    .product__block
                                        img.product__img(src=require("../../img/gun.png").default, alt="Ружьё")
                            .card__text
                                .card__text_title САПОГИ РЫБАЦКИЕ НАЗИЯ ЭВА С ЧУЛ. ТРИПЛЕКС АРТ. С095 (РАЗМЕР 46)
                                .card__text_cost ₽ 3 000 000
                    .card__status
                        .card__title Статус заказа
                        .card__status_wrap
                            .status__done Готово для получения
                            .status__building.hidden Сборка
                    .card__address
                        .card__title адрес получения
                        .card__box
                            .street ул. Южная 6 (40-00-70)
                            .work__time
                                .work__time_title Режим работы:
                                .date
                                    .week Пн-Пт
                                    .time 10:00 - 19:00
                                .date
                                    .week Сб, Вс
                                    .time 10:00 - 17:00
                    .card__reception
                        .card__title Подробности получения
                        .get__thing  Товар будет доступен для получения с
                            span.get__thing_date 25.09.2020
                        .booked__thing  Бронь закрепляется за Вами до
                            span.booked__thing_date 25.09.2020