.card__wrapper
    .card__inner
        .card__title
            .card__title_subtitle.js-description Описание
            .card__title_subtitle.js-characteristic.color Характеристики
        .card__description
            p Бескурковое двуствольное охотничье ружьё с вертикально расположенными стволами 12, 16, 20 и 28-го калибров. Явилось первой отечественной моделью серийного бокфлинта, имеющего малый вес. Ружья отличаются современными строгими формами, имеют хорошие баланс и прикладистость и высокую кучность боя. Ружья малых калибров имеют такие же размеры колодки, как и у ружей 12-го калибра.

            p Стволы ружья отъёмные, расположены в вертикальной плоскости, имеют стандартные дульные сужения: нижний ствол — получок, верхний — чок.

            p Ударно-спусковой механизм с внутренними курками и двумя спусками расположен на отдельном основании.

            p Взведение курков осуществляется в процессе открывания стволов. Для исключения случайных выстрелов имеются перехватыватели курков и неавтоматический предохранитель. Извлечение стреляных гильз в ружьях ТОЗ-34, ТОЗ-34-20, ТОЗ-34-28 — неавтоматическое (общим выталкивателем), в ружье ТОЗ-34Е имеется эжекторный механизм.

            p Цевьё — неотъёмное, состоит из двух частей, закреплённых на стволах винтами.

            p Приклад с пистолетной формой шейки с выступом под щёку выполнен из берёзовой, ореховой или буковой древесины.
        .card__characteristic.hidden
            .characteristic__brand.characteristic_grid
                .characteristic__title Бренд:
                .characteristic__desc Тульский оружейный завод (ТОЗ)
            .characteristic__model.characteristic_grid
                .characteristic__title Модель:
                .characteristic__desc 34Р
            .characteristic__weight.characteristic_grid
                .characteristic__title Вес изделия, гр:
                .characteristic__desc ~ 3300
            .characteristic__caliber.characteristic_grid
                .characteristic__title Калибр
                .characteristic__desc 12/70
            .characteristic__much_stems.characteristic_grid
                .characteristic__title Количество стволов:
                .characteristic__desc Двуствольное
            .characteristic__where_stems.characteristic_grid
                .characteristic__title Расположение стволов:
                .characteristic__desc Вертикальное
            .characteristic__width.characteristic_grid
                .characteristic__title Длина ствола, мм:
                .characteristic__desc 710
            .characteristic__how.characteristic_grid
                .characteristic__title Принцип действия:
                .characteristic__desc Переломное
            .characteristic__material.characteristic_grid
                .characteristic__title Материал приклада:
                .characteristic__desc Орех
            .characteristic__country.characteristic_grid
                .characteristic__title Страна бренда:
                .characteristic__desc Россия
            .characteristic__madein.characteristic_grid
                .characteristic__title Страна производитель:
                .characteristic__desc Россия
    .card__seen
        .catalog-guns__title С этим товаром смотрят
        .cards
            a.card(href="#")
                .discount__gun 15%
                img.card__img(src="../../assets/img/gun.png", alt="Ружьё")
                .card__content
                    .card__content_title
                        .card__content_title_name Franchi Affinity
                        .card__content_title_price
                            .first__price ₽ 77 900
                            .discount__price ₽ 34 999
                    figure.icon-add
            a.card(href="#")
                .discount__gun 15%
                img.card__img(src="../../assets/img/second-gun.png", alt="Ружьё")
                .card__content
                    .card__content_title
                        .card__content_title_name Franchi Affinity
                        .card__content_title_price
                            .first__price ₽ 77 900
                            .discount__price ₽ 34 999
                    figure.icon-add