article.recently-seen
    .wrapper
        .recently-seen__title Вы недавно просматривали
        .cards
            a.card(href="../card/card.html")
                .discount__gun 15%
                img.card__img(src="../../assets/img/gun.png", alt="Ружьё")
                .card__content
                    .card__content_title
                        .card__content_title_name Franchi Affinity
                        .card__content_title_price
                            .first__price ₽ 77 900
                            .discount__price ₽ 34 999
                    figure.icon-add
            a.card(href="../card/card.html")
                .discount__gun 15%
                img.card__img(src="../../assets/img/second-gun.png", alt="Ружьё")
                .card__content
                    .card__content_title
                        .card__content_title_name Franchi Affinity
                        .card__content_title_price
                            .first__price ₽ 77 900
                            .discount__price ₽ 34 999
                    figure.icon-add
            a.card.discount(href="../card/card.html")
                .discount__gun 15%
                img.card__img(src="../../assets/img/second-gun.png", alt="Ружьё")
                .card__content
                    .card__content_title
                        .card__content_title_name Franchi Affinity
                        .card__content_title_price
                            .first__price ₽ 77 900
                            .discount__price ₽ 34 999
                    figure.icon-add
            a.card(href="#")
                .discount__gun 15%
                img.card__img(src="../../assets/img/gun.png", alt="Ружьё")
                .card__content
                    .card__content_title
                        .card__content_title_name Franchi Affinity
                        .card__content_title_price
                            .first__price ₽ 39 999
                            .discount__price ₽ 34 999
                    figure.icon-add