include ../mixins/card.pug
.wrapper
    article.similar__things
        .similar__things_title Похожие товары
        .image__slider.swiper-container.similar__things_slider
            .image__slider_wrapper.swiper-wrapper
                .swiper-slide
                    +card('КОСТЮМ АНТИГНУС ДЕТСКИЙ ТК. СМЕСОВАЯ ЦВ. ЛЕС (РАЗМЕР 36-38/134-140)')
                .swiper-slide
                    +card__widthout('КОСТЮМ АНТИГНУС ДЕТСКИЙ ТК. СМЕСОВАЯ ЦВ. ЛЕС (РАЗМЕР 36-38/134-140)')
                .swiper-slide
                    +card__termos('КОСТЮМ АНТИГНУС ДЕТСКИЙ ТК. СМЕСОВАЯ ЦВ. ЛЕС (РАЗМЕР 36-38/134-140)')
                .swiper-slide
                    +card__widthout('КОСТЮМ АНТИГНУС ДЕТСКИЙ ТК. СМЕСОВАЯ ЦВ. ЛЕС (РАЗМЕР 36-38/134-140)')
            .swiper-pagination
        a.to__catalog_link(href="#") Смотреть всё