.private-office {
    font-family: FuturaBookC;
    font-style: normal;
    font-weight: normal;
    width: 100%;

    &__title {
        font-size: 48px;
        line-height: 125%;
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;

        .info {
            width: 315px;

            &__title {
                font-size: 24px;
                line-height: 125%;
                margin-bottom: 30px;
            }

            &__data {
                margin-bottom: 30px;

                .input__title {
                    font-size: 18px;
                    line-height: 125%;
                    margin-bottom: 10px;
                }

                .input__box {
                    width: 315px;
                    height: 50px;
                }
            }

            &__edit {
                height: 60px;
                width: 315px;
                background: #333333;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .cart {
            width: 891px;
            @import '../basket/scrollbar';

            &__now {
                font-size: 24px;
                line-height: 125%;
                margin-bottom: 30px;
            }

            &__block {
                max-height: 470px;
                overflow-y: auto;

                .cart__booked {
                    margin-bottom: 40px;

                    &_title {
                        margin-bottom: 20px;
                        font-size: 18px;
                        line-height: 125%;
                        color: #888888;
                    }

                    &_box {
                        border-top: 2px solid #888;
                        padding-top: 20px;
                    }
                }

                .cart__bought {
                    margin-bottom: 40px;

                    &_title {
                        margin-bottom: 20px;
                        font-size: 18px;
                        line-height: 125%;
                        color: #888888;
                    }

                    &_box {
                        border-top: 2px solid #888;
                        padding-top: 20px;
                    }
                }

                @import 'private-office-cart';
            }
        }
    }
}

@import 'reserved';
@import 'buy__history';