.card {
    height: 146px;
    //display: grid;
    //grid-template-columns: 46% 7% 10% 7% 9%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;

    &__act {
        position: absolute;
        right: 5px;
        bottom: 0;
        display: flex;

        .card__bookmark {
            display: flex;
            margin-right: 30px;
        }

        .card__delete {
            display: flex;
        }

        .card__icon {
            width: 16px;
            height: 16px;
        }

        .card__title {
            color: #888888;
            font-family: FuturaBookC;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 125%;
            margin-left: 10px;
        }
    }

    &__des {
        display: flex;
        width: 43%;

        .card__img {
            max-width: 130px;
            margin-right: 20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

        }

        .card__text {
            font-family: FuturaBookC;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 125%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &_title {
                font-family: FuturaBookC;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 27px;
                text-transform: uppercase;
                display: inline-flex;
                position: relative;

                .card__important {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    right: -35px;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    background-color: #9D2F2F;
                    color: white;
                }

                &_subtitle {
                    max-width: 235px;
                    height: 82px;
                }
            }

            &_block {
                .card__brand {
                    display: flex;
                    margin-bottom: 14px;

                    &_title {
                        color: #888888;
                        margin-right: 29px;
                    }
                }

                .card__caliber {
                    display: flex;

                    &_title {
                        color: #888888;
                        margin-right: 20px;
                    }
                }
            }
        }
    }

    &__number {
        width: 30%;
        display: flex;
        align-items: center;
    }

    &__in-all {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &_discount {
            font-size: 14px;
            line-height: 125%;
            color: #888888;
            text-decoration: line-through;
        }
    }
}