.card {
    height: 146px;
    //display: grid;
    //grid-template-columns: 46% 7% 10% 7% 9%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;

    &>[class*='card__']:not(:last-child) {
        margin-right: 5px;
    }

    &__des {
        display: flex;
        width: 350px;

        .card__img {
            max-width: 130px;
            margin-right: 20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

        }

        .card__text {
            font-family: FuturaBookC;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 125%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 16px 0;

            &_title {
                font-family: FuturaBookC;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 27px;
                text-transform: uppercase;
                display: inline-flex;
                position: relative;

                &_subtitle {
                    max-width: 235px;
                }
            }

            &_block {
                .card__brand {
                    display: flex;
                    margin-bottom: 14px;

                    &_title {
                        color: #888888;
                        margin-right: 29px;
                    }
                }

                .card__caliber {
                    display: flex;

                    &_title {
                        color: #888888;
                        margin-right: 20px;
                    }
                }
            }
        }
    }

    &__address {
        font-size: 16px;
        line-height: 125%;
        width: 165px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 13px 0;

        .working__time {

            .time__title {
                margin-bottom: 8px;
            }

            .time__box {
                display: flex;
                flex-direction: column;
                color: #888;

                .time__flex {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }

    &__info {
        width: 240px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 21px 0;
    }

    &__cost {
        width: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .cost__price {
            font-size: 24px;
            line-height: 125%;
        }

        .cost__discount {
            font-size: 14px;
            line-height: 125%;
            color: #888888;
            text-decoration: line-through;
        }
    }

    &__status {
        width: 135px;
        display: flex;
        justify-content: center;
        align-items: center;

        .status__done,
        .status__process {
            width: 70px;
        }

        .status__done {
            color: #5A9E08;
            text-align: center;
        }

        .status__process {
            text-align: center;
            display: none;
        }

    }
}