section.basket
    .wrapper
        p.basket__title Корзина
        .basket__order
            .cards
                .cards__titles
                    .cards__titles_text ПРОДУКТ
                    .cards__titles_text СКИДКА
                    .cards__titles_text Цена
                    .cards__titles_text Количество
                    .cards__titles_text Итого
                .cards__items
                    .card
                        .card__act
                            .card__bookmark
                                img.card__icon(src="../../assets/img/icons/bookmark.svg", alt="")
                                .card__title Отложить
                            .card__delete
                                img.card__icon(src="../../assets/img/icons/delete.svg", alt="")
                                .card__title Удалить
                        .card__des
                            .card__img
                                img(src="../../assets/img/big-gun.png", alt="")
                            .card__text
                                .card__text_title 
                                    .card__text_title_subtitle ТОЗ-34Р (орех)
                                    .card__important
                                        .card__important_icon !
                                        .card__important_text Товар доступен только для резервирования
                                .card__text_block
                                    .card__brand
                                        .card__brand_title Бренд:
                                        .card__brand_name ТОЗ
                                    .card__caliber
                                        .card__caliber_title Калибр:
                                        .card__caliber_name 12/70
                        .card__discount 100%
                        .card__price ₽ 1 739 000
                        .card__number 100
                        .card__in-all
                            .card__in-all_price ₽1 739 000
                            .card__in-all_discount ₽1 739 00
                .basket__attention
                    .attention__title
                        .attention__title_important !
                        .attention__title_text Внимание!
                    .attention__text.
                        В вашей корзине есть товары, которые доступны только для резервирования.
                        Вы можете зарезервировать эти товары и приобрести в наших магазинах,
                        предъявив лицензию на покупку оружия <a href="#" class="attention__info">(подробнее об этом)</a>
            .put-in-order
                .put-in-order__box
                    .for__payment
                        .order__title К оплате:
                        .order__price ₽ 20 109 110
                    .order__box
                        .products
                            .order__title
                                .title__text Товары,
                                .title__number
                                    .title__number_sum 20
                                    .title__number_text шт.  
                            .order__price ₽ 20 109 110
                        .discount
                            .order__title скидка
                            .order__price ₽ 20 109 110
                        .payment__delivery
                            .order__title доставка
                            .order__price ₽ 20 109 110
                    .in-all
                        .order__title итого:
                        .order__price ₽ 20 109 110
                a.order-link(href="#") оформить заказ
        .basket__delivery
            .delivery__choose
                .delivery__title Доставка
                .delivery__take
                    input#mail.custom-radio(type="radio" value="1")
                    label.custom__label(for="mail") Почтой россии
                    input#yourself.custom-radio(type="radio" value="2")
                    label.custom__label(for="yourself") Самовывоз (в г. Сыктывкар)
                .delivery__mail
                    input.mail__input(type="text" placeholder="ФИО")
                    input.mail__input(type="text" placeholder="Телефон")
                    input.mail__input(type="text" placeholder="Город")
                    input.mail__input(type="text" placeholder="Адрес") 
            .delivery__payment
                .delivery__payment_title оплата
                .delivery__payment_take
                    input#pay.custom-radio(type="radio" value="1")
                    label.custom__label(for="pay") Картой онлайн
                .delivery__payment_cards
                    .delivery__payment_cards_title Мы принимаем:
                    .delivery__payment_cards_block
                        img.payment-card(src="../../assets/img/card-visa.png", alt="")
                        img.payment-card(src="../../assets/img/card-mastercard.png", alt="")
                        img.payment-card(src="../../assets/img/card-maestro.png", alt="")
                        img.payment-card(src="../../assets/img/card-mir.png", alt="")
                