.card__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .color {
    color: #888888;
  }

  .card__inner {
    width: 40.8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title__box {
      display: grid;
      grid-template-columns: 55% 45%;
      margin-bottom: 45px;
      font-size: 40px;
      line-height: 125%;

      .title__description,
      .title__characteristic {
        cursor: pointer;
      }

      .title__description {
        margin-right: 20px;
      }
    }

    .card__description {
      height: 100%;
      display: flex;
      flex-direction: column;
      color: #888888;

      &_text {
        margin-bottom: 20px;
      }
    }

    .card__characteristic {
      font-weight: normal;
      font-size: 18px;
      line-height: 125%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .characteristic__box {
        display: grid;
        grid-template-columns: 55% 45%;
        margin-bottom: 20px;
      }

      .characteristic__title {
        color: #888;
        margin-right: 20px;
      }

      .characteristic__desc {
        display: flex;
      }
    }

    .hidden {
      display: none;
    }
  }

  .card__seen {
    width: 50%;
    display: flex;
    flex-direction: column;

    &_title {
      font-weight: normal;
      font-size: 48px;
      line-height: 125%;
      color: #333333;
      margin-bottom: 45px;
    }

    @import "../slider/main-slider";
  }
}

@import "./card__item__wrapper-media";