@media (max-width: 1600px) {
  .card__item {
    .card__box {
      .slider__box {
        height: 500px;
      }
    }
  }
}

@media (max-width: 1400px) {
  .card__item {
    .card__box {
      .slider__box {
        height: 440px;
      }
    }
  }
}

@media(max-width: 1300px) {
  .card__item {
    .add__discount {
      .card__benefits {
        .card__item_price {
          .main__price {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .card__item {
    .card__box {
      .slider__box {
        flex-wrap: wrap;
        height: 100%;

        .slider__main {
          width: 100%;
          position: relative;
          padding: 0 0 100% 0;

          .swiper-wrapper {
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
          }
        }

        .slider__sidebar {
          margin-right: 0;
          margin-top: 20px;
          order: 2;
          width: 100%;
          max-width: 100%;
          position: relative;
          padding: 0 0 32% 0;

          .swiper-wrapper {
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
          }
        }

      }

      .card__benefits {
        .order__box {
          .order__container {
            width: 100%;
          }

          .to__favorite {
            margin-top: 25px;
            width: 100%;

            &_title {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .card__item {
    .card__box {
      .slider__box {
        width: 48%;

        .slider__main {
          width: 100%;

          &_box {
            padding: 20px;
          }
        }
      }

      .card__benefits {
        width: 49%;

        .card__title {
          font-size: 14px;
          margin-bottom: 30px;
        }

        .card__item_name {
          font-size: 34px;
          margin-bottom: 20px;
        }

        .card__item_text {
          margin-bottom: 20px;
          font-size: 14px;
        }

        .card__item_price {
          margin-bottom: 20px;

          .discount__price {
            font-size: 34px;
          }
        }

        .order__box {
          margin-bottom: 30px;

          .order__container {
            .to__cart {
              height: 50px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 663px) {
  .card__item {
    margin-bottom: 20px;

    .card__box {
      .card__item_name_mobile {
        display: block;
      }

      flex-direction: column;

      .slider__box {
        width: 100%;
        margin-bottom: 20px;
      }

      .card__benefits {
        width: 100%;

        .card__title {
          display: none;
        }

        .card__item_name {
          display: none;
        }

        .order__box {
          flex-wrap: nowrap;

          .order__container {
            margin-right: 20px;
            width: auto;
            justify-content: flex-start;
          }

          .to__favorite {
            margin-top: 0;
            width: 24px;

            &_title {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .card__item {
    .card__box {
      .card__item_name_mobile {
        font-size: 24px;
      }

      .card__benefits {
        .card__item_price {
          .main__price {
            font-size: 28px;
          }

          .status {

            .available,
            .unavailable {
              font-size: 14px;
            }

            .icon-menu-cancel {
              font-size: 20px;
            }

          }
        }

        .order__box {
          flex-wrap: wrap;

          .order__container {
            width: 100%;
            justify-content: space-between;

            .to__cart {
              font-size: 16px;
            }
          }

          .to__favorite {
            margin-top: 20px;
            width: 100%;

            &_title {
              display: block;
            }
          }
        }
      }
    }
  }
}