.card__benefits {
    width: 42%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .card__title {
        font-size: 18px;
        line-height: 125%;
        color: #888888;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        flex-wrap: wrap;

        &_name {
            margin-bottom: 10px;
            margin-right: 20px;
        }

        &_brand {
            display: flex;

            .brand__name {
                margin-left: 5px;
                color: #888888;
            }
        }
    }

    .card__item_name {
        font-weight: normal;
        font-size: 48px;
        line-height: 125%;
        margin-bottom: 30px;
    }

    .card__item_text {
        margin-bottom: 40px;
    }

    .card__item_price {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
        flex-wrap: wrap;

        .discount__price {
            font-weight: normal;
            font-size: 24px;
            line-height: 125%;
            margin-right: 20px;
            color: #9d2f2f;
            display: none;
        }

        .main__price {
            font-weight: normal;
            font-size: 48px;
            line-height: 125%;
            color: #333;
            margin-right: 30px;
            position: relative;

            &_title {
                position: relative;
            }
        }

        .status {

            .available,
            .unavailable {
                position: relative;
                display: flex;
                align-items: center;
                font-size: 18px;
                line-height: 125%;

                &__title {
                    margin-left: 10px;
                }
            }

            .available {
                color: #5A9E08;
            }

            .unavailable {
                color: #9D2F2F;
            }

            .icon-menu-cancel {
                font-size: 30px;
            }

        }
    }

    .order__box {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 50px;

        .order__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 41px;

            .choose__number {
                width: 85px;
                height: 70px;
                padding-left: 25px;
                margin-right: 30px;
            }

            .to__cart {
                width: 230px;
                min-width: 150px;
                height: 70px;
                background: #333333;
                cursor: pointer;
                font-size: 18px;
                line-height: 20px;
                text-transform: uppercase;
                color: #e0e0e0;
                border: none;
            }
        }

        .to__favorite {
            height: 24px;
            width: 24px;
            display: flex;
            align-items: center;

            .icon-liked {
                cursor: pointer;
                font-size: 22px;

                &:hover {
                    color: red;
                }
            }

            &_title {
                width: 100%;
                margin-left: 10px;
                display: none;
                font-size: 14px;
                line-height: 125%;
            }
        }
    }

    .card__item_category {
        display: flex;
        font-size: 18px;
        line-height: 125%;

        .category__title {
            color: #888888;
            margin-right: 20px;
        }

        .category__name {
            color: #333333;
        }
    }
}