.delivery__choose
    .delivery__title Доставка
    .delivery__take
        input#post.custom__radio(type="radio" value="1")
        label.custom__label(for="post") Почтой россии
        input#yourself.custom__radio(type="radio" value="1")
        label.custom__label(for="yourself") Самовывоз (в г. Сыктывкар)
    .delivery__mail
        input.mail__input(type="text" placeholder="ФИО")
        input.mail__input(type="text" placeholder="Телефон")
        input.mail__input(type="text" placeholder="Город")
        input.mail__input(type="text" placeholder="Адрес") 
.delivery__payment
    .delivery__payment_title оплата
    .delivery__payment_take
        input#pay.custom__radio(type="radio" value="1")
        label.custom__label(for="pay") Картой онлайн
    .delivery__payment_cards
        .delivery__payment_cards_title Мы принимаем:
        .delivery__payment_cards_block
            img.payment-card(src=require("../../img/card-visa.png").default, alt="")
            img.payment-card(src=require("../../img/card-mastercard.png").default, alt="")
            img.payment-card(src=require("../../img/card-maestro.png").default, alt="")
            img.payment-card(src=require("../../img/card-mir.png").default, alt="")