include ../mixins/product.pug
section.cart
    .wrapper
        p.cart__title Корзина
        .cart__order
            .cards
                .cards__titles
                    .cards__titles_text ПРОДУКТ
                    .cards__titles_text СКИДКА
                    .cards__titles_text Цена
                    .cards__titles_text Количество
                    .cards__titles_text Итого
                .cards__items
                    .card
                        .card__act
                            .card__favorite
                                figure.card__icon.icon-liked
                                .card__title Отложить
                            .card__delete
                                figure.card__icon.icon-delete
                                .card__title Удалить
                        .card__des.card__info
                            .card__img
                                +product__item
                            .card__text
                                .card__text_title САПОГИ РЫБАЦКИЕ НАЗИЯ ЭВА С ЧУЛ. ТРИПЛЕКС АРТ. С095 (РАЗМЕР 46)
                                .mobile__block
                                    .card__number_mobile 100
                                    .card__in-all__mobile
                                        .card__in-all__mobile_price ₽99 739 000
                                        .card__in-all__mobile_discount ₽99 739 00
                                .card__text_block
                                    .card__brand
                                        .card__brand_title Бренд:
                                        .card__brand_name ТОЗ
                                    .card__caliber
                                        .card__caliber_title Калибр:
                                        .card__caliber_name 12/70
                            .card__important
                                .card__important_icon !
                                .card__important_text Товар доступен только для резервирования
                        .card__discount.card__info 100%
                        .card__price.card__info ₽ 99 739 000
                        .card__number.card__info 100
                        .card__in-all.card__info
                            .card__in-all_price ₽99 739 000
                            .card__in-all_discount ₽99 739 00
                .attention
                    .attention__block
                        .attention__icon !
                        .attention__title Внимание!
                    .attention__text.
                        В вашей корзине есть товары, которые доступны только для резервирования.
                        Вы можете зарезервировать эти товары и приобрести в наших магазинах,
                        предъявив лицензию на покупку оружия <a href="#" class="attention__info">(подробнее об этом)</a>
            include ./confirm.pug
            include ./cart__delivery.pug