.delivery__choose
    .delivery__title Доставка
    .delivery__take
        input#post.custom__radio(type="radio" value="post" name="delivery" checked)
        label.custom__label.label__post(for="post")
            span.custom__label_icon
            span.custom__label_title Почтой россии
        input#yourself.custom__radio(type="radio" value="yourself" name="delivery")
        label.custom__label.label__yourself(for="yourself")
            span.custom__label_icon
            span.custom__label_title Самовывоз (в г. Сыктывкар)
    .delivery__mail
        .input
            input.for__input(type="text" placeholder="ФИО")
            .mistake__info
                figure.icon-info
                .mistake__info_title Ой, кажется такого e-mail не существует
        .input
            input.for__input(type="text" placeholder="Телефон")
            .mistake__info
                figure.icon-info
                .mistake__info_title Ой, кажется такого телефона не существует
        .input
            input.for__input(type="text" placeholder="Город")
            .mistake__info
                figure.icon-info
                .mistake__info_title Ой, кажется такого города не существует
        .input
            input.for__input(type="text" placeholder="Адрес") 
            .mistake__info
                figure.icon-info
                .mistake__info_title Ой, кажется такого адреса не существует
.delivery__payment
    .delivery__payment_title оплата
    .delivery__payment_take
        input#pay.custom__radio(type="radio" value="1" checked)
        label.custom__label.label__pay(for="pay")
            span.custom__label_icon
            span.custom__label_title Картой онлайн
    .delivery__payment_cards
        .delivery__payment_cards_title Мы принимаем:
        .delivery__payment_cards_block
            img.payment-card(src=require("../../img/card-visa.png").default, alt="")
            img.payment-card(src=require("../../img/card-mastercard.png").default, alt="")
            img.payment-card(src=require("../../img/card-maestro.png").default, alt="")
            img.payment-card(src=require("../../img/card-mir.png").default, alt="")