.card {
    height: 146px;
    //display: grid;
    //grid-template-columns: 46% 7% 10% 7% 9%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;

    &__act {
        position: absolute;
        right: 5px;
        bottom: 0;
        display: flex;

        .card__bookmark {
            display: flex;
            margin-right: 30px;
        }

        .card__delete {
            display: flex;
        }

        .card__icon {
            width: 16px;
            height: 16px;
        }

        .card__title {
            color: #888888;
            font-family: FuturaBookC;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 125%;
            margin-left: 10px;
        }
    }

    &__des {
        display: flex;
        width: 43%;

        .card__img {
            max-width: 130px;
            margin-right: 20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

        }

        .card__text {
            font-family: FuturaBookC;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 125%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &_title {
                font-family: FuturaBookC;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 27px;
                text-transform: uppercase;
                display: inline-flex;
                position: relative;

                .card__important {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #000;
                    overflow: hidden;
                    height: 25px;
                    cursor: pointer;
                    background: #9D2F2F;
                    border-radius: 50px;
                    color: #fff;
                    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

                    &_icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 25px;
                        height: 25px;
                        font-size: 18px;
                        line-height: 20px;
                    }

                    &_text {
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        line-height: 16px;
                        width: 0;
                        border-radius: 50px;
                        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                    }

                    &:hover .card__important_text {
                        width: 330px;
                        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                    }
                }

                &_subtitle {
                    min-width: 160px;
                    height: 82px;
                }
            }


            &_block {
                .card__brand {
                    display: flex;
                    margin-bottom: 14px;

                    &_title {
                        color: #888888;
                        margin-right: 29px;
                    }
                }

                .card__caliber {
                    display: flex;

                    &_title {
                        color: #888888;
                        margin-right: 20px;
                    }
                }
            }
        }
    }

    &__discount,
    &__price,
    &__number,
    &__in-all {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__in-all {
        flex-direction: column;

        &_discount {
            font-size: 14px;
            line-height: 125%;
            color: #888888;
            text-decoration: line-through;
        }
    }
}