.basket {
    &__title {
        font-family: FuturaBookC;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 125%;
        margin-bottom: 40px;
    }

    &__order {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: start;

        .cards {
            width: 70%;
            margin-bottom: 40px;
            @import 'scrollbar';

            &__titles {
                font-family: FuturaBookC;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 20px;
                color: #888888;
                text-transform: uppercase;
                height: 51px;
                display: flex;
                justify-content: space-between;

                &_text:nth-of-type(1) {
                    width: 43%;
                }

                &_text:nth-of-type(2) {
                    width: 10%;
                }
            }

            &__items {
                max-height: 445px;
                padding-top: 30px;
                overflow-y: auto;
                border-bottom: 1px solid #E0E0E0;
                border-top: 1px solid #E0E0E0;
                @import 'basket-card';
            }

            .basket__attention {
                font-family: FuturaBookC;
                font-style: normal;
                font-weight: normal;
                display: flex;
                flex-direction: column;
                margin-top: 40px;

                .attention__title {
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    line-height: 20px;
                    text-transform: uppercase;
                    margin-bottom: 20px;

                    &_important {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background-color: #9D2F2F;
                        color: white;
                        margin-right: 10px;
                    }

                    &_text {
                        color: #9D2F2F;
                    }
                }

                .attention__text {
                    max-width: 775px;

                    .attention__info {
                        color: #000;
                    }
                }
            }

        }

        @import 'put-in-order';
    }

    &__delivery {
        max-width: 771px;
        height: 377px;
        //border: solid green;
        font-family: FuturaBookC;
        font-style: normal;
        font-weight: normal;
        display: flex;
        justify-content: space-between;


        .delivery__choose {
            width: 460px;

            .delivery__title {
                font-size: 24px;
                line-height: 27px;
                text-transform: uppercase;
                margin-bottom: 20px;
                // border: solid green;
            }

            .delivery__take {
                margin-bottom: 40px;
            }

            .delivery__mail {
                display: flex;
                flex-direction: column;
                //border: solid green;

                .mail__input {
                    border: 1px solid #888888;
                    height: 50px;
                    margin-bottom: 20px;

                    &::placeholder {
                        padding-left: 20px;
                    }
                }

                .mail__input:last-child {
                    margin-bottom: 0;
                }
            }

        }

        .delivery__payment {
            width: 244px;
            //border: solid rebeccapurple;

            &_title {
                font-size: 24px;
                line-height: 27px;
                text-transform: uppercase;
                margin-bottom: 20px;
            }

            &_take {
                margin-bottom: 40px;
            }

            &_cards {
                &_title {
                    font-size: 18px;
                    line-height: 20px;
                    margin-bottom: 20px;
                }

                &_block {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

    }
}