.catalog__filter
    .filter__show
        figure.icon-menu-burger
        .filter__show_title Показать фильтры
        .filter__show_number 5
    .filter__sort
        .filter__sort_title Сортировка по:
        .filter__sort_type Популярности
.catalog__choose
    .catalog__grid
        .choose__category
            .take__title 
                .take__title_name Категория
                .take__title_number 1
            .take__items
                .take__block
                    input.take__item#take__guns(type="checkbox")
                    label.label__item(for="take__guns")
                        .label__item_name Ружья
                        .label__item_number (367)
                .take__block
                    input.take__item#take__rod(type="checkbox")
                    label.label__item(for="take__rod")
                        .label__item_name Удочки
                        .label__item_number (234)
                .take__block
                    input.take__item#take__spinning(type="checkbox")
                    label.label__item(for="take__spinning")
                        .label__item_name Спиннинги
                        .label__item_number (317)
                .take__block
                    input.take__item#take__bait(type="checkbox")
                    label.label__item(for="take__bait")
                        .label__item_name Приманки
                        .label__item_number (317)
                .take__block
                    input.take__item#take__ammo(type="checkbox")
                    label.label__item(for="take__ammo")
                        .label__item_name Боеприпасы
                        .label__item_number (317)
                .take__block
                    input.take__item#take__wear(type="checkbox")
                    label.label__item(for="take__wear")
                        .label__item_name Одежда и обувь
                        .label__item_number (317)
        .choose__caliber
            .take__title 
                .take__title_name Калибр
                .take__title_number 5
            .take__items
                .take__block
                    input.take__item#take__28-76(type="checkbox")
                    label.label__item(for="take__28-76")
                        .label__item_name 28/76
                        .label__item_number (367)
                .take__block
                    input.take__item#take__12-70(type="checkbox")
                    label.label__item(for="take__12-70")
                        .label__item_name 12/70
                        .label__item_number (234)
                .take__block
                    input.take__item#take__12-76(type="checkbox")
                    label.label__item(for="take__12-76")
                        .label__item_name 12-76
                        .label__item_number (317)
                .take__block
                    input.take__item#take__12-84(type="checkbox")
                    label.label__item(for="take__12-84")
                        .label__item_name 12-84
                        .label__item_number (317)
                .take__block
                    input.take__item#take__16-70(type="checkbox")
                    label.label__item(for="take__16-70")
                        .label__item_name 16-70
                        .label__item_number (317)
                .take__block
                    input.take__item#take__x45(type="checkbox")
                    label.label__item(for="take__x45")
                        .label__item_name 5,56x45
                        .label__item_number (317)
        .choose__fore-end
            .take__title 
                .take__title_name Материал цевья
                .take__title_number 5
            .take__items
                .take__block
                    input.take__item#take__al(type="checkbox")
                    label.label__item(for="take__al")
                        .label__item_name алюминий
                        .label__item_number (367)
                .take__block
                    input.take__item#take__wood(type="checkbox")
                    label.label__item(for="take__wood")
                        .label__item_name дерево
                        .label__item_number (234)
                .take__block
                    input.take__item#take__laminate(type="checkbox")
                    label.label__item(for="take__laminate")
                        .label__item_name ламинат
                        .label__item_number (317)
                .take__block
                    input.take__item#take__metal(type="checkbox")
                    label.label__item(for="take__metal")
                        .label__item_name метал
                        .label__item_number (317)
                .take__block
                    input.take__item#take__plastic(type="checkbox")
                    label.label__item(for="take__plastic")
                        .label__item_name пластик
                        .label__item_number (317)
                .take__block
                    input.take__item#take__x45(type="checkbox")
                    label.label__item(for="take__x45")
                        .label__item_name 5,56x45
                        .label__item_number (317)
        .choose__stem
            .take__title 
                .take__title_name Материал ствола
                .take__title_number 2
            .take__items
                .take__block
                    input.take__item#take__weapon-steel(type="checkbox")
                    label.label__item(for="take__weapon-steel")
                        .label__item_name оружейная сталь
                        .label__item_number (367)
                .take__block
                    input.take__item#take__weapon(type="checkbox")
                    label.label__item(for="take__weapon")
                        .label__item_name сталь 
                        .label__item_number (234)
                .take__block
                    input.take__item#take__4140(type="checkbox")
                    label.label__item(for="take__4140")
                        .label__item_name сталь 4140
                        .label__item_number (317)
                .take__block
                    input.take__item#take__good-steel(type="checkbox")
                    label.label__item(for="take__good-steel")
                        .label__item_name сталь высокого качества
                        .label__item_number (317)
                .take__block
                    input.take__item#take__hz-steel(type="checkbox")
                    label.label__item(for="take__hz-steel")
                        .label__item_name хром-молибденовая сталь
                        .label__item_number (317)
        .choose__act
            .take__title 
                .take__title_name Принцип действия
                .take__title_number 2
            .take__items
                .take__block
                    input.take__item#take__bolt(type="checkbox")
                    label.label__item(for="take__bolt")
                        .label__item_name болтовое
                        .label__item_number (367)
                .take__block
                    input.take__item#take__gas(type="checkbox")
                    label.label__item(for="take__gas")
                        .label__item_name газоотводное
                        .label__item_number (234)
                .take__block
                    input.take__item#take__iner(type="checkbox")
                    label.label__item(for="take__iner")
                        .label__item_name инерционное
                        .label__item_number (317)
                .take__block
                    input.take__item#take__break(type="checkbox")
                    label.label__item(for="take__break")
                        .label__item_name переломное
                        .label__item_number (317)
        .choose__produce
            .take__title 
                .take__title_name Производитель
                .take__title_number 2
            .take__items
                .take__block
                    input.take__item#take__akdas(type="checkbox")
                    label.label__item(for="take__akdas")
                        .label__item_name Akdas (Турция)
                .take__block
                    input.take__item#take__armsan(type="checkbox")
                    label.label__item(for="take__armsan")
                        .label__item_name ARMSAN (Турция)
                .take__block
                    input.take__item#take__benelli(type="checkbox")
                    label.label__item(for="take__benelli")
                        .label__item_name BENELLI (Италия)
                .take__block
                    input.take__item#take__BERNARDELLI(type="checkbox")
                    label.label__item(for="take__BERNARDELLI")
                        .label__item_name BERNARDELLI (Италия)
                .take__block
                    input.take__item#take__czech(type="checkbox")
                    label.label__item(for="take__czech")
                        .label__item_name Ceska Zbrojovka (Чехия)

