.active {
    -webkit-animation: fadein 0.5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s;
    /* Firefox < 16 */
    -ms-animation: fadein 0.5s;
    /* Internet Explorer */
    -o-animation: fadein 0.5s;
    /* Opera < 12.1 */
    animation: fadein 0.5s;
}

.deactive {
    -webkit-animation: fadeout 0.5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeout 0.5s;
    /* Firefox < 16 */
    -ms-animation: fadeout 0.5s;
    /* Internet Explorer */
    -o-animation: fadeout 0.5s;
    /* Opera < 12.1 */
    animation: fadeout 0.5s;
    opacity: 0;
    pointer-events: none;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/*@font-face {
    font-family: 'asterix';
    src: url('../fonts/asterix.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.code{
    font-family: 'asterix';
    color: #54a747;
    letter-spacing: 5px;
}*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.hidden {
    visibility: hidden;
}

.invalid {
    border: 1px solid #df0202 !important;
}

.confirm__item {
    text-align: center;
}


.button {
    transition-property: all;
    transition-duration: .4s;
    cursor: pointer;
    color: #fff;
    background: #333;
    font-family: FuturaBookC;
    font-weight: 400;
    font-size: 16px;
    height: 50px;
}

.registration {
    display: block;
    position: fixed;
    z-index: 150;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(120, 119, 119, 0.5);

    &__wrapper {
        top: 100px;
        bottom: 100px;
        margin: 0 auto;
        position: relative;
        padding: 40px 88px 40px 88px;
        background: #fff;
        max-width: 490px;
        transition-property: opacity;
        transition-duration: 3s;

        .icon-menu-cancel {
            display: flex;
            justify-content: flex-end;
            font-size: 30px;
            cursor: pointer;

            &:hover {
                color: #9D2F2F;
            }
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        fill: #000;
        width: 25px;
        height: 25px;

        &:hover {
            cursor: pointer;
        }
    }

    &__title {
        text-align: center;
        font-family: FuturaBookC;
        font-weight: 400;
        font-size: 24px;
    }

    &__item {
        position: relative;

        .phone,
        .password,
        .email {
            color: #000;
            font-size: 14px;
            display: flex;
            align-items: center;
            outline: none;
            border: 1px solid #888;
            height: 50px;
            width: 100%;
            padding: 15px;

            &::placeholder {
                color: #000;
                font-color: #e0e0e0;
                font-size: 16px;
            }
        }
    }

    &__error {
        color: #df0202;
        font-family: FuturaBookC;
        font-size: 14px;
        line-height: 20px;
        height: 20px;
        text-align: right;
    }

    &__agreement {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        &-text {
            font-family: FuturaBookC;
            font-size: 16px;
            color: #888;

            >span {
                font-family: FuturaBookC;
                font-size: 16px;
                color: #888;
                text-decoration: underline;
                cursor: pointer;
            }
        }

        >input {
            margin-right: 15px;
        }
    }

    &__label {
        text-align: center;
    }

    &__label_phone {
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 5px;
    }

    &__btn {
        width: 180px;
        height: 50px;
        outline: none;
        border: none;

        &:disabled {
            background-color: gray;
        }
    }

    &__tip {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    &__button_wrapper {
        display: flex;
        justify-content: center;
    }

}

.noaccount,
.restore {
    font-family: FuturaBookC;
    font-size: 14px;
    line-height: 15.85px;
    color: #888;

    &__tip {
        font-family: FuturaBookC;
        font-size: 14px;
        line-height: 15.85px;
        color: #888;
        margin-left: 5px;
        text-decoration: underline;
        cursor: pointer;
    }
}

.long {
    margin-bottom: 56px;
}

.save {
    margin-top: 30px;
}

.passwordinvalid {
    color: red;
    font-size: 12px;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active до версии 2.1.8 */
    {
    opacity: 0;
}

.header .button {
    height: 35px;
}

.button,
.icon-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.go_to_registration {
    cursor: pointer;
    margin: 10px 0 20px 0;
}

.is_invalid {
    border: 1px solid #df0202;
}

.forget_password {
    cursor: pointer;
}