*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "FuturaBookC";
}
.lock__scroll {
  overflow: hidden;
}

main {
  flex: 1 0 auto;
  padding-top: 90px;
}

footer {
  flex: 0 0 auto;
}

.wrapper {
  width: 82.3%;
  margin: 0 auto;
}
