section.class
    .wrapper
        h3.class__title Категории товаров
        .class__flex
            .main__block
                a.card__item(href="#")
                    .block__title
                        .block__title_number 01
                        .block__title_main Ружья
                        .block__title_to-catalog В каталог
                .block__cards
                    a.card__item(href="#")
                        .block__title
                            .block__title_number 04
                            .block__title_main Приманки
                            .block__title_to-catalog В каталог
                    a.card__item(href="#")
                        .block__title
                            .block__title_number 05
                            .block__title_main Боеприпасы
                            .block__title_to-catalog В каталог
            .main__block
                a.card__item(href="#")
                    .block__title
                        .block__title_number 06
                        .block__title_main Одежда и обувь
                        .block__title_to-catalog В каталог
                .block__cards
                        a.card__item(href="#")
                            .block__title
                                .block__title_number 02
                                .block__title_main Спиннинги
                                .block__title_to-catalog В каталог
                        a.card__item(href="#")
                            .block__title
                                .block__title_number 03
                                .block__title_main Удочки
                                .block__title_to-catalog В каталог
