section.discount__block
    .wrapper
        .action__box
            .wrap
                .title 
                    h1.title__text Акции и скидки
                    p.title__description.
                        Подпишитесь на нашу рассылку, 
                        чтобы первым получать уведомления о 
                        новых поступлениях, товарах, которые 
                        продаются по скидке, а также об акциях
                a.discount-first(href="#")
                    .title
                        .title_company Палатки фирмы Outventure 
                        .title_sale Скидки до 25% только до конца сентября
                        .title_buy Купить сейчас
                    .title__img
            .wrap
                a.discount-second(href="#")
                    .title
                        .title_company Палатка Trespass Torrisdale
                        .title_sale Скидка 10% только до 19.09.2020
                        .title_buy Купить сейчас
                    .title__img
                form.email(action="", method="")
                    .email__title
                        .email__title_main Оставьте свой e-mail
                        .email__title_notification И получайте уведомления
                    .email__send
                        input.input_email(type="email" placeholder="Ваш e-mail" required)
                        a.btn(href="#")
                            span.btn__name Отправить
        a.to__catalog_link.link__center(href="#") Больше акций