include ../mixins/product.pug
section.new
    .wrapper
        .new__block    
            .new__block_title
                h2.title_main Новинки
                p.title_description Лучшие новинки отчественных и зарубежных производителей
            .new__block_cards
                form.choose(action="")
                    input#for__all.for__all.custom-radio(type="radio", name="take")
                    label.for__all_label(for="for__all") Все товары
                    input#for__hunting.for__hunting.custom-radio(type="radio", name="take" )
                    label.for__hunting_label(for="for__hunting") Для охоты
                    input#for__fishing.for__fishing.custom-radio(type="radio", name="take" )
                    label.for__fishing_label(for="for__fishing") Для рыбалки
                    input#for__tourism.for__tourism.custom-radio(type="radio", name="take" )
                    label.for__tourism_label(for="for__tourism") Для рыбалки
                .choose__mobile
                    .choose__wrap
                        span.choose__mobile_title Все товары
                        figure.icon-number
                    form.choose__form(action="")
                        input#for__all.for__all.custom__radio(type="radio", name="take")
                        label.for__all_label.custom__label(for="for__all")
                            span.custom__label_icon 
                            span.custom__label_title Все товары
                        input#for__hunting.for__hunting.custom__radio(type="radio", name="take" )
                        label.for__hunting_label.custom__label(for="for__hunting")
                            span.custom__label_icon 
                            span.custom__label_title Для охоты
                        input#for__fishing.for__fishing.custom__radio(type="radio", name="take" )
                        label.for__fishing_label.custom__label(for="for__fishing")
                            span.custom__label_icon 
                            span.custom__label_title Для рыбалки
                        input#for__tourism.for__tourism.custom__radio(type="radio", name="take" )
                        label.for__tourism_label.custom__label(for="for__tourism")
                            span.custom__label_icon 
                            span.custom__label_title Для туризма
                .image__slider.swiper-container
                    .image__slider_wrapper.swiper-wrapper
                        .swiper-slide
                            +product__1('КОСТЮМ АНТИГНУС ДЕТСКИЙ ТК. СМЕСОВАЯ ЦВ. ЛЕС (РАЗМЕР 36-38/134-140)')
                        .swiper-slide
                            +product__widthout('КОСТЮМ АНТИГНУС ДЕТСКИЙ ТК. СМЕСОВАЯ ЦВ. ЛЕС (РАЗМЕР 36-38/134-140)')
                        .swiper-slide
                            +product__2('КОСТЮМ АНТИГНУС ДЕТСКИЙ ТК. СМЕСОВАЯ ЦВ. ЛЕС (РАЗМЕР 36-38/134-140)')
                        .swiper-slide
                            +product__3('КОСТЮМ АНТИГНУС ДЕТСКИЙ ТК. СМЕСОВАЯ ЦВ. ЛЕС (РАЗМЕР 36-38/134-140)')
                    .swiper-pagination
            a.link__to(href="/catalog") Больше товаров