section.tidings
    .wrapper
        .tidings__title Новости
        .tidings__slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .tidings__block
                        .tidings__block_img
                            img.tiding__img(src=require("../../img/bear.png").default, alt="")
                        .tidings__block_instruction
                            .tidings__block_instruction_flex
                                .instruction__title Что делать при встрече с медведем?
                                .instruction__text.
                                    Встречи с медведем лучше избегать.
                                    Если же встреча всё же состоялась, то будет полезным знать 
                                    несколько несложных правил, способных сохранить ваше здоровье 
                                    и жизнь. Посмотрите ответ на этот вопрос в нашем новом видео.
                                a.btn(href="#")
                                    span.btn__name Читать
                .swiper-slide
                    .tidings__block
                        .tidings__block_img
                            img.tiding__img(src=require("../../img/bear.png").default, alt="")
                        .tidings__block_instruction
                            .tidings__block_instruction_flex
                                .instruction__title Что делать при встрече с медведем?
                                .instruction__text.
                                    Встречи с медведем лучше избегать.
                                    Если же встреча всё же состоялась, то будет полезным знать 
                                    несколько несложных правил, способных сохранить ваше здоровье 
                                    и жизнь. Посмотрите ответ на этот вопрос в нашем новом видео.
                                a.btn(href="#")
                                    span.btn__name Читать
                .swiper-slide
                    .tidings__block
                        .tidings__block_img
                            img.tiding__img(src=require("../../img/bear.png").default, alt="")
                        .tidings__block_instruction
                            .tidings__block_instruction_flex
                                .instruction__title Что делать при встрече с медведем?
                                .instruction__text.
                                    Встречи с медведем лучше избегать.
                                    Если же встреча всё же состоялась, то будет полезным знать 
                                    несколько несложных правил, способных сохранить ваше здоровье 
                                    и жизнь. Посмотрите ответ на этот вопрос в нашем новом видео.
                                a.btn(href="#")
                                    span.btn__name Читать
            .swiper-pagination
        a.link__to.more__news(href="#") Больше новостей