section.tidings
    .wrapper
        .tidings__title Новости
        .tidings__slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .news__block
                        .img__item
                            img.img__news(src=require("../../img/bear.png").default, alt="")
                        .news__block_instruction
                            .news__title Что делать при встрече с медведем?
                            .news__text.
                                Встречи с медведем лучше избегать.
                                Если же встреча всё же состоялась, то будет полезным знать 
                                несколько несложных правил, способных сохранить ваше здоровье 
                                и жизнь. Посмотрите ответ на этот вопрос в нашем новом видео.
                            .news__card_read
                                a.btn(href="#")
                                    span.btn__name Читать
                                span.news__data
                                    figure.icon-data
                                    .news__data_title 30.09.2020
                .swiper-slide
                    .news__block
                        .img__item
                            img.img__news(src=require("../../img/bear.png").default, alt="")
                        .news__block_instruction
                            .news__title Что делать при встрече с медведем?
                            .news__text.
                                Встречи с медведем лучше избегать.
                                Если же встреча всё же состоялась, то будет полезным знать 
                                несколько несложных правил, способных сохранить ваше здоровье 
                                и жизнь. Посмотрите ответ на этот вопрос в нашем новом видео.
                            .news__card_read
                                a.btn(href="#")
                                    span.btn__name Читать
                                span.news__data
                                    figure.icon-data
                                    .news__data_title 30.09.2020
                .swiper-slide
                    .news__block
                        .img__item
                            img.img__news(src=require("../../img/bear.png").default, alt="")
                        .news__block_instruction
                            .news__title Что делать при встрече с медведем?
                            .news__text.
                                Встречи с медведем лучше избегать.
                                Если же встреча всё же состоялась, то будет полезным знать 
                                несколько несложных правил, способных сохранить ваше здоровье 
                                и жизнь. Посмотрите ответ на этот вопрос в нашем новом видео.
                            .news__card_read
                                a.btn(href="#")
                                    span.btn__name Читать
                                span.news__data
                                    figure.icon-data
                                    .news__data_title 30.09.2020
            .swiper-pagination
        a.link__to.more__news(href="#") Больше новостей