include ../mixins/product.pug
section.novelty
    .wrapper
        .novelty__block    
            .novelty__block_title
                h2.title_main Новинки
                p.title_description Лучшие новинки отчественных и зарубежных производителей
            .novelty__block_cards
                form(action="").choose
                    input#for__all.for__all.custom-radio(type="radio", name="take")
                    label.for__all_label(for="for__all") Все товары
                    input#for__hunting.for__hunting.custom-radio(type="radio", name="take" )
                    label.for__hunting_label(for="for__hunting") Для охоты
                    input#for__fishing.for__fishing.custom-radio(type="radio", name="take" )
                    label.for__fishing_label(for="for__fishing") Для рыбалки
                    input#for__tourism.for__tourism.custom-radio(type="radio", name="take" )
                    label.for__tourism_label(for="for__tourism") Для рыбалки
                .choose__mobile Все товары
                .image__slider.swiper-container
                    .image__slider_wrapper.swiper-wrapper
                        .swiper-slide
                            +product('КОСТЮМ АНТИГНУС ДЕТСКИЙ ТК. СМЕСОВАЯ ЦВ. ЛЕС (РАЗМЕР 36-38/134-140)')
                        .swiper-slide
                            +product__widthout('КОСТЮМ АНТИГНУС ДЕТСКИЙ ТК. СМЕСОВАЯ ЦВ. ЛЕС (РАЗМЕР 36-38/134-140)')
                        .swiper-slide
                            +product__termos('КОСТЮМ АНТИГНУС ДЕТСКИЙ ТК. СМЕСОВАЯ ЦВ. ЛЕС (РАЗМЕР 36-38/134-140)')
                        .swiper-slide
                            +product__widthout('КОСТЮМ АНТИГНУС ДЕТСКИЙ ТК. СМЕСОВАЯ ЦВ. ЛЕС (РАЗМЕР 36-38/134-140)')
                    .swiper-pagination
            a.to__catalog_link(href="/catalog") Больше товаров