section.welcome
    .welcome__catalog.hidden__992
        .welcome__title
            h1.main__title ОРУЖЕЙНЫЙ МАГАЗИН “ДУПЛЕТ”
            a.btn.btn__to(href="#")
                span.btn__name в каталог
        .welcome__image
            .example
                .example__block
                    .example__block_title Tedna Prime S12С
                    .example__block_price стоимость от 39990 руб
                a.example__link(href="#")
                    figure.icon-add
    .welcome__laptop
        .welcome__laptop__image
            .welcome__laptop__title
                h1.main__title ОРУЖЕЙНЫЙ МАГАЗИН “ДУПЛЕТ”
                a.btn.btn__to(href="#")
                    span.btn__name в каталог
        .example__laptop
            .laptop__block
                .example__laptop__block
                    .example__block_title Tedna Prime S12С
                    .example__block_price стоимость от 39990 руб
                a.example__laptop__link(href="#")
                    figure.icon-add
            .laptop__number
                .laptop__number_title 8 (8212) 26-40-00
                .laptop__number_title 8 (8212) 40-00-70