section.news
    .wrapper
        .news__title Новости
        .news__block
            img.news__block_img(src="../../assets/img/bear.png", alt="")
            .news__block_instruction
                .news__block_instruction_flex
                    .instruction__title Что делать при встрече с медведем?
                    .instruction__text.
                        Встречи с медведем лучше избегать.
                        Если же встреча всё же состоялась, то будет полезным знать 
                        несколько несложных правил, способных сохранить ваше здоровье 
                        и жизнь. Посмотрите ответ на этот вопрос в нашем новом видео.
                    a.instruction__link(href="#") Читать
        .news__cards
            .news__card
                img.news__card_img(src="../../assets/img/news/news-1.png", alt="")
                .news__card_title Поздравляем с открытием сезона охоты
                .news__card_read
                    a.news__card_read_title(href="#") Читать
                    .news__card_read_data
                        img.news__card_read_data_svg(src="../../assets/img/icons/data.svg", alt="")
                        .news__card_read_data_number 1.09.2020
            .news__card
                img.news__card_img(src="../../assets/img/news/news-2.png", alt="")
                .news__card_title Поздравляем с открытием сезона охоты
                .news__card_read
                    a.news__card_read_title(href="#") Читать
                    .news__card_read_data
                        img.news__card_read_data_svg(src="../../assets/img/icons/data.svg", alt="")
                        .news__card_read_data_number 1.09.2020
            .news__card
                img.news__card_img(src="../../assets/img/news/news-3.png", alt="")
                .news__card_title Поздравляем с открытием сезона охоты
                .news__card_read
                    a.news__card_read_title(href="#") Читать
                    .news__card_read_data
                        img.news__card_read_data_svg(src="../../assets/img/icons/data.svg", alt="")
                        .news__card_read_data_number 1.09.2020
        .news__block
            img.news__block_img(src="../../assets/img/bear.png", alt="")
            .news__block_instruction
                .news__block_instruction_flex
                    .instruction__title Что делать при встрече с медведем?
                    .instruction__text.
                        Встречи с медведем лучше избегать.
                        Если же встреча всё же состоялась, то будет полезным знать 
                        несколько несложных правил, способных сохранить ваше здоровье 
                        и жизнь. Посмотрите ответ на этот вопрос в нашем новом видео.
                    a.instruction__link(href="#") Читать
        .news__cards
            .news__card
                img.news__card_img(src="../../assets/img/news/news-1.png", alt="")
                .news__card_title Поздравляем с открытием сезона охоты
                .news__card_read
                    a.news__card_read_title(href="#") Читать
                    .news__card_read_data
                        img.news__card_read_data_svg(src="../../assets/img/icons/data.svg", alt="")
                        .news__card_read_data_number 1.09.2020
            .news__card
                img.news__card_img(src="../../assets/img/news/news-2.png", alt="")
                .news__card_title Поздравляем с открытием сезона охоты
                .news__card_read
                    a.news__card_read_title(href="#") Читать
                    .news__card_read_data
                        img.news__card_read_data_svg(src="../../assets/img/icons/data.svg", alt="")
                        .news__card_read_data_number 1.09.2020
            .news__card
                img.news__card_img(src="../../assets/img/news/news-3.png", alt="")
                .news__card_title Поздравляем с открытием сезона охоты
                .news__card_read
                    a.news__card_read_title(href="#") Читать
                    .news__card_read_data
                        img.news__card_read_data_svg(src="../../assets/img/icons/data.svg", alt="")
                        .news__card_read_data_number 1.09.2020