.contacts {
    width: 100%;

    &__title {
        font-weight: normal;
        font-size: 48px;
        line-height: 125%;
        margin-bottom: 40px;
    }

    &__text {
        font-weight: normal;
        font-size: 18px;
        line-height: 125%;
        color: #888888;
        margin-bottom: 30px;
    }

    &__location {
        .location__title {
            font-weight: normal;
            font-size: 24px;
            line-height: 125%;
            margin-bottom: 40px;
        }

        .first__shop {
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
        }

        .location__info {
            height: 182px;
            width: 431px;
            margin-right: 30px;

            .info__title {
                font-weight: normal;
                font-size: 18px;
                line-height: 125%;
                margin-bottom: 40px;
            }

            .info__block {
                font-weight: normal;
                font-size: 18px;
                line-height: 125%;
                color: #888888;
                display: flex;
                justify-content: space-between;

                .inner__block {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .street {
                        margin-bottom: 40px;
                        position: relative;
                        margin-left: 35px;

                        &::before {
                            content: "";
                            position: absolute;
                            background: url('../img/icons/location.svg');
                            width: 20px;
                            height: 20px;
                            left: -35px;
                        }
                    }

                    .payment {
                        position: relative;
                        margin-left: 35px;

                        &::before {
                            content: "";
                            position: absolute;
                            background: url('../img/icons/payment.svg');
                            width: 20px;
                            height: 20px;
                            left: -35px;
                        }

                        &__cash {
                            margin-bottom: 10px;
                        }
                    }

                    .phone {
                        margin-bottom: 40px;
                        position: relative;
                        margin-left: 35px;

                        &::before {
                            content: "";
                            position: absolute;
                            background: url('../img/icons/phone.svg');
                            width: 20px;
                            height: 20px;
                            left: -35px;
                        }
                    }

                    .working__time {
                        display: flex;
                        position: relative;
                        margin-left: 35px;

                        &::before {
                            content: "";
                            position: absolute;
                            background: url('../img/icons/working-time.svg');
                            width: 20px;
                            height: 20px;
                            left: -35px;
                        }

                        .day {
                            margin-right: 30px;
                        }
                    }
                }


            }
        }

        .swiper-container {
            margin: 0;
        }

        .location__slider {
            width: 60%;
            height: 480px;

            .location__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .swiper-pagination-bullets {
                bottom: 0;
                background: #333;
                opacity: 0.9;
                height: 60px;
            }

            .swiper-pagination-bullet {
                top: 20px;
                background: #fff;
                position: relative;
                margin-right: 30px;
                width: 6px;
                height: 6px;
                background-repeat: 50%;
                opacity: 1;
            }

            .swiper-pagination-bullet-active {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: -7px;
                    left: -7px;
                    width: 20px;
                    height: 20px;
                    background: url("../img/slider__white.svg") 100% 100% no-repeat;
                }
            }
        }
    }
}

@import "./contacts-media";