.liked {

    &__wrap {
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(220px, 23%));
        column-gap: 30px;
        row-gap: 40px;
        @import '../mixins/mixin__product';
    }
}

@import "./media/liked-media";