@media (min-width: 1681px) {
  .catalog {
    .cards {
      grid-template-columns: repeat(auto-fill, minmax(210px, 300px));
      column-gap: 20px;
    }
  }
}

@media (max-width: 1680px) {
  .catalog {
    .cards {
      grid-template-columns: repeat(5, minmax(210px, 315px));
    }
  }
}

@media (max-width: 1350px) {
  .catalog {
    .cards {
      grid-template-columns: repeat(4, minmax(210px, 415px));
    }
  }
}

@media (max-width: 992px) {
  .catalog {
    .cards {
      grid-template-columns: repeat(2, minmax(210px, 350px));
    }
  }
}

@media (max-width: 768px) {
  .catalog {
    .cards {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 549px) {
  .catalog {
    .cards {
      grid-template-columns: repeat(1, minmax(220px, 100%));
    }
  }
}

@media (max-width: 480px) {
  .catalog {
    margin-bottom: 40px;
  }
}