@import "./fonts/fonts";
@import './vars/vars';
@import "./default/default";
@import './class/class';
@import "./header/header";
@import "./footer/footer";
@import "./main/welcome";
@import "./main/new";
@import "./mixins/loader";
@import "./main/class";
@import "./main/discount";
@import "./main/popular";
@import "./main/news";