@media (max-width: 1680px) {
    .buy__history {
        .history__box {
            grid-template-columns: repeat(4, minmax(220px, 315px));
        }
    }
}

@media (max-width: 1350px) {
    .buy__history {
        .history__box {
            grid-template-columns: repeat(3, minmax(220px, 415px));
        }
    }
}

@media (max-width: 992px) {
    .buy__history {
        .history__box {
            grid-template-columns: repeat(2, minmax(220px, 350px));
        }
    }
}

@media (max-width: 768px) {
    .buy__history {
        .history__box {
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 549px) {
    .buy__history {
        .history__box {
            grid-template-columns: repeat(1, minmax(220px, 315px));
        }
    }
}

@media (max-width: 480px) {
    .buy__history {
        margin-bottom: 40px;

        .history__input {
            width: 100%;
        }

        .history__box {
            grid-template-columns: repeat(1, minmax(220px, 315px));
        }
    }
}