@media(max-width: 1600px) {
    .reserved {

        &__box {
            .name__box {
                font-size: 16px;

            }
        }
    }
}

@media(max-width: 1279px) {
    .reserved {

        &__box {
            .name__box {
                grid-template-columns: 340px 24% 13% 13%;
                font-size: 14px;

                .subtitles__address {
                    display: none;
                }
            }
        }
    }
}

@media(max-width: 992px) {
    .reserved {

        &__box {
            .name__box {
                grid-template-columns: 340px 16% 18%;

                .subtitles__info {
                    display: none;
                }

                .subtitles__status {
                    text-align: center;
                }
            }
        }
    }
}

@media(max-width: 768px) {
    .reserved {

        &__box {
            .name__box {
                display: none;
            }

            .reserved__things {
                display: grid;
                grid-template-columns: repeat(3, minmax(140px, 200px));
                column-gap: 20px;
                justify-content: space-between;
            }
        }
    }
}

@media(max-width: 576px) {
    .reserved {

        &__box {
            .name__box {
                display: none;
            }

            .reserved__things {
                grid-template-columns: repeat(2, minmax(120px, 250px));
            }
        }
    }
}