@media (max-width: 480px) {
    .popup__card__item {
        .popup__body {
            .popup__content {
                .popup__img {
                    margin-bottom: 25px;
                }

                .popup__title {
                    font-size: 18px;
                    margin-bottom: 20px;
                }

                .poup__info {
                    font-size: 12px;
                }
            }
        }
    }
}