.catalog {
  width: 100wh;

  .catalog-guns__title {
    text-align: center;
    font-weight: normal;
    font-size: 48px;
    line-height: 125%;
    color: #333333;
  }

  @import "filter";

  .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 315px));
    justify-content: center;
    column-gap: 30px;
    row-gap: 40px;
    margin-bottom: 30px;
  }

  .show__more {
    color: #888;
    font-size: 18px;
    line-height: 20px;
    position: relative;
    padding-bottom: 5px;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    width: 107px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 0;
      background: #888;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &:hover::before {
      width: 100%;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
}

.breadcrumbs {

  &__wrapper {
    display: flex;
  }

  .link {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .separator {
    margin: 0px 5px 0px 5px;
  }

}