.catalog {
  width: 100wh;
  margin-bottom: 60px;

  .catalog-guns__title {
    text-align: center;
    font-weight: normal;
    font-size: 48px;
    line-height: 125%;
    color: #333333;
  }

  @import "filter";

  .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 350px));
    justify-content: center;
    column-gap: 30px;
    row-gap: 40px;
    margin-bottom: 60px;
  }

  @import '../class/class';

  .show__more {
    font-size: 18px;
    line-height: 20px;
    position: relative;
    margin: 0 auto;
    display: block;
    width: 107px;
    cursor: pointer;
  }

  .better__category {
    @import '../slider/main-slider';
    @import '../mixins/mixin__product';
  }
}

@import './media/catalog-media';