.catalog__title {
    padding-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 48px;
    line-height: 125%;
}

.catalog__cat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    &__show {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 18px;
        background: #333;
        color: white;
        margin-right: 15px;

        .menu__btn {
            width: 24px;
            height: 24px;
            position: relative;
            margin-right: 10px;

            span {
                position: absolute;
                top: 50%;
                left: 0;
                background: #fff;
                width: 100%;
                height: 2px;
                transition: 0.2s;
            }

            span:first-child {
                transform: translateY(-10px);
            }

            span:last-child {
                transform: translateY(10px);
            }
        }

        .menu__btn_active {
            span:nth-of-type(2) {
                height: 0;
            }

            span:first-child {
                transform: rotate(45deg);
            }

            span:last-child {
                transform: rotate(-45deg);
            }
        }

        &:hover {
            cursor: pointer;
        }

        .catalog__cat__title {
            font-family: FuturaBookC;
            font-weight: 400;
            font-size: 18px;
            line-height: 22.5px;
            margin-left: 5px;
        }
    }

    .breadcrumbs__wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 39%;
        justify-content: center;

        .breadcrumbs {
            margin-bottom: 15px;

            .link {
                cursor: pointer;
                position: relative;

                &::before {
                    content: '';
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    position: absolute;
                    background: #000;
                    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

                }

                &:hover::before {
                    width: 100%;
                    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }
            }

            .separator {
                margin: 0px 10px 0px 10px;
            }

        }
    }

    .catalog__sort {
        display: flex;
        width: 380px;
        justify-content: space-between;
        font-weight: normal;
        font-size: 18px;
        line-height: 125%;


        &_type {
            color: #888888;
            display: flex;
            justify-content: space-between;
            margin-left: 10px;
            flex-wrap: wrap;

            .sort__name {
                cursor: pointer;
                display: flex;
                margin-right: 10px;

                &_title {
                    margin-right: 15px;
                }
            }

            .sort__price {
                cursor: pointer;
                display: flex;

                &_title {
                    margin-right: 15px;
                }
            }

            .sort__up {
                cursor: pointer;
                transform: rotate(-180deg);
                padding-left: 15px;
            }

            .sort__down {
                cursor: pointer;

            }

            .sort__active {
                color: #000;
            }
        }
    }
}

.catalog__cat__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
    justify-content: center;
    row-gap: 20px;
    column-gap: 30px;
    margin-bottom: 30px;

    .catalog__cat__item {
        width: 100%;
        height: 70px;
        border: 1px solid #888;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        &:hover {
            background: #333;
            color: white;
            cursor: pointer;
        }

        &_title {
            font-family: FuturaBookC;
            font-weight: 400;
            font-size: 18px;
            line-height: 22.5px;
        }
    }
}

.active {
    background: #333;
    color: white;
    cursor: pointer;
}


@import './media/filter-media';